<h1>Upload Video</h1>

<form action='video' method='post'>
 <label for='title'>Title :</label> 
 <input id='title' type='text' name='title' autofocus>
 
 <label for='description'>Description :</label>
 <input id='description' type='text' name='description'>

 <label for='url'>Url :</label>
 <input id='url' type='text' name='url'>

 <label for='genre'>Genre:</label>
 <input id='genre' type='text' name='genre'>
 
 <button>Submit</button>
</form>

